* {
  box-sizing: border-box;
}

main > section {
  /* border: 2px solid green; */
  height: 100vh;
}

main h1 {
  margin: 0px;
  padding: 20px 0 0 15px;
}

main > section:first-child > section:first-child,
main > section:nth-child(2) > section:first-child,
main > section:nth-child(3) > section:first-child,
main > section:nth-child(4) > section:first-child {
  /* border: 2px solid red; */
  font-family: Ubuntu;
  position: sticky;
  top: 0;
  height: 8vh;
  color: white;
  z-index: 2;
}

main > section:first-child > section:first-child {
  background-color: red;
}

main > section:first-child > section:nth-child(2) {
  background-color: white;
}

main > section:nth-child(2) > section:first-child {
  background-color: rgb(4, 56, 134);
}

main > section:nth-child(2) > section:nth-child(2) {
  background-color: rgb(94, 198, 240);
}

main > section:nth-child(3) > section:first-child {
  background-color: rgb(33, 37, 34);
}

main > section:nth-child(3) > section:nth-child(2) {
  background-color: rgb(88, 88, 88);
}

main > section:nth-child(4) > section:first-child {
  background-color: darkred;
}

main > section:nth-child(4) > section:nth-child(2) {
  background-color: rgb(240, 94, 94);
}

main > section:first-child > section:nth-child(2),
main > section:nth-child(2) > section:nth-child(2),
main > section:nth-child(3) > section:nth-child(2),
main > section:nth-child(4) > section:nth-child(2) {
  /* border: 2px solid blue; */
  height: 92vh;
  position: relative;
  /* z-index: 1; */
}

main > section:first-child > section:nth-child(2) > div,
main > section:nth-child(2) > section:nth-child(2) > div,
main > section:nth-child(3) > section:nth-child(2) > div,
main > section:nth-child(4) > section:nth-child(2) > div {
  /* border: 2px solid deeppink; */
  height: fit-content;
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 150px;
  font-weight: bold;
  font-family: Ubuntu;
}
