<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case 3 - CSS Fixed Layout</title>

    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
</head>
<body>
    <main>
        <!-- Fixed Circles -->
        <section>
            <div></div>
            <div></div>
        </section>

        <!-- Flowing Content -->
        <section>
            <div>
                <div><p>Hello</p></div>
            </div>
        </section>
        
        <section>
            <div>
                <div><p>Welcome To</p></div>
            </div>
        </section>
        
        <section>
            <div>
                <div><p>Institute of Software Engineering</p></div>
            </div>
        </section>
    </main>
    
</body>
</html>