#about {
  /* border: 2px solid red; */
  /*clip-path: polygon(0 0, 100% 0%, 110% calc(100% - 3vw), 0% 100%); */
  /* margin-bottom: -20vw; */
  background-color: #111821;
  height: 100vh;
  color: white;
  padding-top: 1px;
}

#about > section > div > span > div {
  /* background-color: red; */
  display: inline-flex;
}

main > section:nth-child(2) > div.section-content {
  position: relative;
}

main > section:nth-child(2) > div.section-content > div:first-child {
  /* border: 2px solid white; */
  width: 368px;
  height: 341px;
  padding: 156px;
  /* position: relative; */
  position: absolute;
  top: -78px;
  left: -135px;
  clip-path: ellipse(25% 40% at 50% 50%);
  background-image: url("../images/profile_pic.jpeg");
  background-size: contain;
  background-position-x: 171px;
  border-radius: 8%;
  box-shadow: 6px 6px 12px 1px rgb(154, 221, 248);
}

/* main > section:nth-child(2) > div.section-content > div:first-child > img {
  border-radius: 8%;
  box-shadow: 6px 6px 12px 1px rgb(154, 221, 248);
} */

/* main > section:nth-child(2) > div {
  font-family: "Amarante", cursive;
} */

main > section:nth-child(2) > div.section-content > div:nth-child(2) {
  /* border: 2px solid yellow; */
  width: 55vw;
  position: absolute;
  top: 30px;
  left: 400px;
  right: 0;
  margin: auto;
  /* font-family: "Patrick Hand", cursive; */
  /* font-family: "Acme", sans-serif; */
  /* font-family: "Baloo Chettan 2", cursive; */
  /* font-family: "Aref Ruqaa", serif; */
  font-size: 28px;
  line-height: 40px;
  padding: 10px;
}

main > section:nth-child(2) > section:nth-child(4) {
  /* border: 2px solid deeppink; */
  position: relative;
  top: 550px;
  font-size: 28px;
  /* position: absolute;
  top: 450px; */
}

/* main
  > section:nth-child(2)
  > div.section-content
  > div:nth-child(2)
  > div:first-child
  > p {
  border: 2px solid red;
  text-align: justify;
  text-justify: inter-word;
} */

main
  > section:nth-child(2)
  > div.section-content
  > div:nth-child(2)
  > div:nth-child(2)
  > ul {
  /* border: 2px solid red; */
  width: 600px;
  list-style: none;
  line-height: 50px;
  position: relative;
  left: 60px;
}

main
  > section:nth-child(2)
  > div.section-content
  > div:nth-child(2)
  > div:nth-child(2)
  > ul
  > li
  > span {
  position: absolute;
  left: 200px;
}

main
  > section#about
  > section:nth-child(4)
  > div.section-content
  > div:nth-child(2) {
  /* border: 2px solid red; */
  display: flex;
  /* width: fit-content; */
  /* position: absolute;
  top: 452px; */
  left: 0;
  right: 0;
  margin: auto;
  justify-content: space-evenly;
}

main
  > section#about
  > section:nth-child(4)
  > div.section-content
  > div:nth-child(2)
  > figure
  > i {
  font-size: 60px;
  margin-left: 5px;
}

main
  > section#about
  > section:nth-child(4)
  > div.section-content
  > div:nth-child(2)
  > figure
  > figcaption {
  margin-top: 10px;
}

@media all and (max-width: 500px) {
  main > section:nth-child(2) > div.section-content > div:first-child {
    width: 25px;
    height: 0px;
    position: absolute;
    top: -55px;
    left: 86px;
    /* clip-path: ellipse(26% 42% at 77% 51%); */
    background-position-x: 87px;
    border-radius: 60%;
    box-shadow: 1px 1px 22px 4px #00bcd4;
  }

  main > section:nth-child(2) > div.section-content > div:nth-child(2) {
    width: 80vw;
    top: 220px;
    left: 8px;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
  }

  main
    > section:nth-child(2)
    > div.section-content
    > div:nth-child(2)
    > div:nth-child(2)
    > ul
    > li
    > span {
    left: 115px;
  }

  main
    > section:nth-child(2)
    > div.section-content
    > div:nth-child(2)
    > div:nth-child(2)
    > ul {
    left: 75px;
    line-height: 37px;
  }

  main > section:nth-child(2) > section:nth-child(4) {
    font-size: 16px;
  }

  main
    > section#about
    > section:nth-child(4)
    > div.section-content
    > div:nth-child(2)
    > figure
    > i {
    font-size: 30px;
  }

  main
    > section#about
    > section:nth-child(4)
    > div.section-content
    > div:nth-child(2) {
    margin-top: 8px;
  }
}
