#portfolio {
  background-color: #111821;
  height: 200vh;
  color: white;
  padding-top: 1px;
  box-shadow: 3px 6px 8px 1px white;
  /* border: 2px solid yellow; */
}

#portfolio > section#assignments {
  /* border: 2px solid rgb(209, 1, 209); */
  height: 100vh;
  position: relative;
}

#portfolio > section#assignments > div#assignment-header {
  /* border: 2px solid violet; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio > section#assignments > div#assignment-header > h2 {
  border-bottom: 5px solid #54b689;
}

#portfolio > section#assignments > div.container {
  /* border: 2px solid red; */
  width: 1300px;
  height: 650px;
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 10px 0 100px 0;
  overflow: hidden;
}

#portfolio > section#assignments > div.container > div.assignment-content {
  /* border: 2px solid green; */
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  transition: all 1s ease;
}

/* ---------------------------------------Assignment Card Container------------------ */
#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set {
  /* border: 2px solid blue; */
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div {
  /* border: 2px solid orange; */
  border-radius: 10px;
  font-size: 25px;
  position: relative;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div
  > div.assignment-title {
  /* border: 2px solid greenyellow; */
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 0.8em;
  opacity: 0;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div
  > h3,
div.assignment-title > p {
  margin: 0;
  padding: 0;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div
  > div.btn-container {
  /* border: 2px solid pink; */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  opacity: 0;
}

/* #portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div:hover
  > div.btn-container {
  font-size: 0.8em;
  bottom: 20px;
  opacity: 100%;
  transition: all 1s ease;
} */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div
  > div.btn-container
  > a
  > button {
  background-color: #54b689;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

/* ---------------------------------------------------Assignment Set 1--------------------------------------- */
#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1 {
  grid-template-areas:
    "A1 A2 A6"
    "A3 A4 A6"
    "A3 A5 A6";
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item1 {
  grid-area: A1;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_01.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item2 {
  grid-area: A2;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_02.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item3 {
  grid-area: A3;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_03.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item4 {
  grid-area: A4;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_04.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item5 {
  grid-area: A5;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_05.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item6 {
  grid-area: A6;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_06.png");
  background-size: cover;
}

/* ---------------------------------------------------Assignment Set 2--------------------------------------- */
#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2 {
  grid-template-rows: 1fr 1.2fr 1.5fr;
  grid-template-areas:
    "A7 A8 A9"
    "A10 A10 A9"
    "A11 A11 A11";
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item7 {
  grid-area: A7;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_07.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item8 {
  grid-area: A8;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_08.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item9 {
  grid-area: A9;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_09.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item10 {
  grid-area: A10;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.726),
      rgba(0, 0, 0, 0.178)
    ),
    url("../images/assignments/Assignment_10.png");
  background-size: cover;
  background-position: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item11 {
  grid-area: A11;
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/assignments/Assignment_11.png");
  background-size: cover;
  background-position: center;
}

/* -------------------------------------------Nav Buttons---------------------------------------------- */

#portfolio > section#assignments > div.container > nav {
  /* border: 2px solid rgb(129, 129, 255); */
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
  top: 40px;
}

#portfolio > section#assignments > div.container > nav label {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: white;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

#portfolio > section#assignments > div.container > nav label.active {
  background-color: #54b689;
}

/* when radio btn 7 is checked --> change label1 to green */
#portfolio > section#assignments > div.container > #btn7:checked ~ nav .nav1 {
  background-color: #54b689;
}

/* when radio btn 7 is checked --> change label2 to white */
#portfolio > section#assignments > div.container > #btn7:checked ~ nav .nav2 {
  background-color: white;
}

#portfolio > section#assignments > div.container > #btn8:checked ~ nav .nav1 {
  background-color: white;
}

#portfolio > section#assignments > div.container > #btn8:checked ~ nav .nav2 {
  background-color: #54b689;
}

/* --------------------------------------Scroll Cards----------------------------------------------------- */

#btn8:checked ~ div.assignment-content {
  margin-left: -100%;
}

#btn3:checked ~ div.assignment-content {
  margin-left: -200%;
}

/* --------------------------------------------Hovering Cards------------------------------------ */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item1:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_01.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item2:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_02.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item3:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_03.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item4:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_04.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item5:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_05.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item6:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.527)
    ),
    url("../images/assignments/Assignment_06.png");
  background-size: cover;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item7:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_07.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item8:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_08.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item9:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_09.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item10:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_10.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item11:hover {
  background: linear-gradient(
      to top,
      rgb(0, 0, 0),
      rgba(0, 0, 0, 0.89),
      rgba(0, 0, 0, 0.747),
      rgba(0, 0, 0, 0.493),
      rgba(0, 0, 0, 0.274)
    ),
    url("../images/assignments/Assignment_11.png");
  background-size: cover;
  background-position: center;
  transition: all 1s ease;
  /* scale: 2; */
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div:hover {
  justify-content: flex-start;
}

/* #portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div:hover
  h3 {
  color: aqua;
  transition: all 1s ease;
} */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div:hover {
  justify-content: flex-start;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div:hover
  div.assignment-title {
  position: relative;
  top: 10px;
  opacity: 100%;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div:hover
  > div.btn-container {
  font-size: 0.8em;
  bottom: 20px;
  opacity: 100%;
  transition: all 1s ease;
}

/* #portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div:hover
  h3 {
  transition: all 1s ease;
} */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div:hover
  div.btn-container
  > a
  > button:hover {
  background-color: white;
  color: #54b689;
  cursor: pointer;
  transition: all 0.5s ease;
}
