#portfolio {
  background-color: #111821;
  height: 200vh;
  color: white;
  /* padding-top: 1px; */
  box-shadow: 3px 6px 8px 1px white;
  /* border: 2px solid yellow; */
}

#portfolio > section#assignments {
  border: 2px solid rgb(209, 1, 209);
  height: 100vh;
  position: relative;
}

#portfolio > section#assignments > div#assignment-header {
  border: 2px solid violet;
  /* width: max-content; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio > section#assignments > div#assignment-header > h2 {
  border-bottom: 5px solid #54b689;
}

#portfolio > section#assignments > div.container {
  border: 2px solid red;
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* overflow: hidden; */
}

#portfolio > section#assignments > div.container > div.assignment-content {
  border: 2px solid green;
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

/* ---------------------------------------Assignment Card Container------------------ */
#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set {
  border: 2px solid blue;
  width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 30px;
  justify-content: center;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div.assignment-set
  > div {
  border: 2px solid orange;
  /* width: 200px; */
  /* padding: 50px; */
}

/* ---------------------------------------------------Assignment Set 1--------------------------------------- */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1 {
  grid-template-areas:
    "A1 A2 A6"
    "A3 A4 A6"
    "A3 A5 A6";
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item1 {
  grid-area: A1;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item2 {
  grid-area: A2;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item3 {
  grid-area: A3;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item4 {
  grid-area: A4;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item5 {
  grid-area: A5;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set1
  > div.grid-item6 {
  grid-area: A6;
}

/* ---------------------------------------------------Assignment Set 2--------------------------------------- */

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2 {
  background-color: rgb(4, 53, 53);
  grid-template-areas:
    "A7 A8 A9"
    "A10 A10 A9"
    "A11 A11 A11";
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item7 {
  grid-area: A7;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item8 {
  grid-area: A8;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item9 {
  grid-area: A9;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item10 {
  grid-area: A10;
}

#portfolio
  > section#assignments
  > div.container
  > div.assignment-content
  > div#assignment-set2
  > div.grid-item11 {
  grid-area: A11;
}
