#contactMe {
  /* border: 2px solid yellow; */
  background-color: #111821;
  height: 100vh;
  color: white;
  padding-top: 1px;
  box-shadow: 3px 6px 8px 1px white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* position: relative; */
}

#contactMe > div#brief-note {
  border: 2px solid red;
  width: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 30px;
  box-shadow: 6px 5px 10px 4px black;
  line-height: 30px;
  font-size: 20px;
}

#contactMe > div#brief-note > p > a {
  color: #54b689;
}

/* ----------------------------------------------------------Social Icons-----------------------------------------  */

#contactMe > div#brief-note > div#social-icons {
  border: 2px solid violet;
  width: 300px;
  font-size: 30px;
  padding: 10px;
}

#contactMe > div#brief-note > div#social-icons > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

#contactMe > div#brief-note > div#social-icons > ul > li > a > i {
  color: #54b689;
}

/* ----------------------------------Hover Social Icons-------------------------- */

#contactMe > div#brief-note > div#social-icons > ul > li > a > i:hover {
  color: white;
}

/* ------------------------------------------------------Contact Form----------------------------------- */

#contactMe > section#form-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  /* height: max-content; */
}

#contactMe > section#form-container > div#grid-container > form {
  border: 2px solid greenyellow;
  width: 1000px;
  /* height: 500px; */
  /* padding-bottom: 40px; */
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(5, 1fr); */
  grid-gap: 20px;
  grid-template-areas:
    "legend legend"
    "name email"
    "subj subj"
    "msg msg"
    "submit submit";
}

#contactMe > section#form-container > div#grid-container > form > legend,
input,
textarea {
  border: 2px solid blueviolet;
  border-radius: 10px;
  border: none;
}

#contactMe > section#form-container > div#grid-container > form > input:focus,
textarea:focus {
  background-color: rgb(177, 177, 177);
}

#contactMe > section#form-container > div#grid-container > form > legend,
input,
textarea[placeholder] {
  padding: 10px;
}

#contactMe > section#form-container > div#grid-container > form > legend {
  grid-area: legend;
  /* justify-self: center;
  align-self: center; */
  place-self: center center;
}
#contactMe > section#form-container > div#grid-container > form > legend > h1 {
  margin: 0;
}

#contactMe
  > section#form-container
  > div#grid-container
  > form
  > input#txtName {
  grid-area: name;
}

#contactMe
  > section#form-container
  > div#grid-container
  > form
  > input#txtEmail {
  grid-area: email;
}

#contactMe
  > section#form-container
  > div#grid-container
  > form
  > input#txtSubject {
  grid-area: subj;
}

#contactMe
  > section#form-container
  > div#grid-container
  > form
  > textarea#txtMessage {
  grid-area: msg;
}

#contactMe > section#form-container > div#grid-container > form > input#btn {
  grid-area: submit;
  justify-self: end;
  font-family: "Acme", sans-serif;
  background-color: #54b689;
  border-radius: 5px;
  color: white;
  width: 100px;
}

#contactMe
  > section#form-container
  > div#grid-container
  > form
  > input#btn:hover {
  background-color: white;
  color: #54b689;
  cursor: pointer;
}

/* ---------------------------------------------back To Top Btn--------------------------------- */

#contactMe > div#back-to-home {
  /* border: 2px solid salmon; */
  position: relative;
}

#contactMe > div#back-to-home > a {
  position: absolute;
  /* width: max-content; */
  right: 50px;
  bottom: 50px;
  /* width: 50px;
  height: 50px; */
}

#contactMe > div#back-to-home > a > i {
  color: #111821;
  font-size: 40px;
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 2px 0px 9px 19px black;
}

#contactMe > div#back-to-home > a > i:hover {
  font-size: 50px;
  transition: all 0.5s ease;
}

/* ---------------------------------------------Media Queries--------------------------------------- */

@media all and (max-width: 500px) {
  #contactMe > div#brief-note {
    width: auto;
  }

  #contactMe > section#form-container > div#grid-container {
    border: 3px solid rgb(34, 107, 218);
  }

  #contactMe > section#form-container > div#grid-container > form {
    /* margin-left: 20px; */
    width: 398px;
    grid-gap: 20px;
    grid-template-areas:
      "legend"
      "name"
      "email"
      "subj"
      "msg"
      "submit";
  }

  #contactMe > section#form-container > div#grid-container > form > input,
  textarea {
    size: "10";
  }

  #contactMe > div#back-to-home > a {
    right: 20px;
    bottom: -20px;
  }

  #contactMe > div#back-to-home > a > i {
    font-size: 20px;
    box-shadow: none;
  }

  #contactMe > div#back-to-home > a > i:hover {
    font-size: 20px;
    /* transition: all 0.5s ease; */
  }
}
