header {
  background-color: #111821;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 18%; */
  width: 338px;
  box-shadow: 0px 0px 12px -6px white;
  font-family: "Acme", sans-serif;
  /* font-size: 1.2em; */
  transition: all ease-out 0.5s;
}

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  /* width: 78%; */
  width: 55%;
  /* margin-left: 10%; */
  margin-left: 25%;
  /* margin-top: 10%; */
  box-shadow: 0px 0px 15px -6px white;
  /* box-shadow: 4px 8px 31px -17px #54b689; */
  border: none;
}

.center-align {
  text-align: center;
  margin: 10px 0 25px 10px;
}

hr {
  border: 1px solid #999;
  border-radius: 5px;
  width: 280px;
}

#hr-2 {
  /* position: fixed;
  bottom: 13vh;
  left: 30px; */
  position: absolute;
  top: 0px;
  left: 32px;
  bottom: 0;
  margin: auto;
  margin-bottom: 109px;
}

header > nav:nth-child(3) {
  /* border: 2px solid yellow; */
}

.nav-tabs {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 45px;
  /* line-height: 3vw; */
  /* line-height: 28px; */
  /* position: fixed;
  top: 21vw;
  left: 55px; */
  /* margin-top: 30px; */
}

header > nav:nth-child(3) ul {
  /* border: 2px solid blueviolet; */
}

header a {
  /* border: 2px solid red; */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  /* font-size: 18px; */
}

header > nav:nth-child(3) ul li a i {
  /* border: 2px solid violet; */
  font-size: 30px;
  /* font-size: 23px; */
  width: 30px;
  font-weight: bolder;
}

header > nav:nth-child(3) > div#nav-tabs > ul > li:nth-child(3) > a > span > i {
  position: relative;
  left: 3px;
}

/* header > nav:nth-child(3) > div#nav-tabs > ul > li:nth-child(4) > a > span > i {
  position: relative;
  left: -2px;
} */

header > nav:nth-child(3) ul li a:hover {
  cursor: pointer;
  color: #54b689;
}

header > nav:nth-child(3) ul li a span:nth-child(2) {
  vertical-align: baseline;
  margin-left: 30px;
  text-align: left;
  letter-spacing: 1px;
}

header li {
  list-style-type: none;
}

/* .social-links {
  position: relative;
} */

.social-links {
  /* border: 2px solid greenyellow; */
  position: absolute;
  bottom: -90px;
  left: -40px;
  right: 0;
  margin-bottom: 100px;
}

.social-links a:hover i {
  /* border: 2px solid red; */
  color: #54b689;
  background-color: white;
}

.social-links > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-links > ul > li > a > i {
  font-size: 30px;
  background-color: #54b689;
  padding: 12px;
  border-radius: 100%;
}

.spread-evenly {
  display: flex;
  justify-content: space-evenly;
}

.green-circle {
  background-color: #54b689;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.center-align {
  margin-top: 10px;
  margin-left: 10px;
}

/* @media all and (min-width: 500px) and (max-width: 768px) {
  header {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .avatar {
    width: 43%;
    margin-left: 30%;
    box-shadow: 0px 0px 4px 2px white;
  }

  header > nav:nth-child(4) ul {
    margin: 0;
  }

  #nav-tabs {
    line-height: 44px;
    position: relative;
    top: -20px;
  }

  hr {
    position: relative;
    top: -20px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
  .avatar {
    width: 43%;
    margin-left: 30%;
    box-shadow: 0px 0px 4px 2px white;
  }

  header > nav:nth-child(4) ul {
    margin: 0;
  }

  #nav-tabs {
    line-height: 44px;
    position: relative;
    top: -20px;
  }

  hr {
    position: relative;
    top: -20px;
  }
}

@media all and (min-width: 1024px) and (max-width: 2560px) {
  .avatar {
    width: 43%;
    margin-left: 30%;
    box-shadow: 0px 0px 4px 2px white;
  }

  header > nav:nth-child(4) ul {
    margin: 0;
  }

  #nav-tabs {
    line-height: 44px;
    position: relative;
    top: -20px;
  }

  hr {
    position: relative;
    top: -20px;
  }
} */
