header {
  background-color: #111821;
  color: white;
  /* height: 100vh; */
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 18%; */
  width: 338px;
  /* overflow: hidden; */
  z-index: -1;
}

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  width: 78%;
  /* width: 12rem; */
  /* height: 12rem; */
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: 0px 0px 15px 2px white;
}

.center-align {
  text-align: center;
}

hr {
  border: 1px solid #999;
  border-radius: 5px;
  width: 280px;
}

#nav-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 60px;
}

::before {
  box-sizing: border-box;
}
/* #nav-tabs a {
  display: flex;
  align-items: center;
  padding-bottom: 12px 15px;
  margin-bottom: 25px;
} */

header a {
  color: white;
  text-decoration: none;
}

header > nav:nth-child(4) ul li a i {
  font-size: 30px;
  width: 30px;
}

header > nav:nth-child(4) ul li a span:nth-child(2) {
  vertical-align: baseline;
  margin-left: 30px;
  text-align: left;
  letter-spacing: 1px;
}

header li {
  list-style-type: none;
}

#social-links {
  position: relative;
}

#social-links {
  /* border: 2px solid greenyellow; */
  position: absolute;
  bottom: -63px;
  left: 0;
  right: 0;
  /* margin-left: 25px; */
  margin-bottom: 100px;
}

.spread-evenly {
  display: flex;
  justify-content: space-evenly;
}

.green-circle {
  background-color: #54b689;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.center-align {
  margin-top: 10px;
  margin-left: 10px;
}

@media all and (max-width: 500px) {
  header {
    display: none;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}
