header {
  background-color: #111821;
  color: white;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  /* width: 18%; */
  width: 338px;
  box-shadow: 0px 0px 12px -6px white;
  font-family: "Acme", sans-serif;
}

.avatar {
  border-radius: 50%;
  border: 2px solid white;
  width: 78%;
  margin-left: 10%;
  margin-top: 10%;
  box-shadow: 0px 0px 15px 2px white;
}

.center-align {
  text-align: center;
}

hr {
  border: 1px solid #999;
  border-radius: 5px;
  width: 280px;
}

#nav-tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 60px;
}

header a {
  /* border: 2px solid red; */
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

header > nav:nth-child(4) ul li a i {
  font-size: 30px;
  width: 30px;
  font-weight: bolder;
}

header > nav:nth-child(4) > div#nav-tabs > ul > li:nth-child(3) > a > span > i {
  position: relative;
  left: 3px;
}

header > nav:nth-child(4) > div#nav-tabs > ul > li:nth-child(4) > a > span > i {
  position: relative;
  left: -2px;
}

header > nav:nth-child(4) ul li a:hover {
  cursor: pointer;
  color: #54b689;
}

header > nav:nth-child(4) ul li a span:nth-child(2) {
  vertical-align: baseline;
  margin-left: 30px;
  text-align: left;
  letter-spacing: 1px;
}

header li {
  list-style-type: none;
}

.social-links {
  position: relative;
}

.social-links {
  /* border: 2px solid greenyellow; */
  position: absolute;
  bottom: -85px;
  left: -40px;
  right: 0;
  margin-bottom: 100px;
}

.social-links a:hover i {
  /* border: 2px solid red; */
  color: #54b689;
  background-color: white;
}

.social-links > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.social-links > ul > li > a > i {
  font-size: 30px;
  background-color: #54b689;
  padding: 12px;
  border-radius: 100%;
}

.spread-evenly {
  display: flex;
  justify-content: space-evenly;
}

.green-circle {
  background-color: #54b689;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.center-align {
  margin-top: 10px;
  margin-left: 10px;
}

@media all and (max-width: 500px) {
  header {
    display: none;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}
