#home-img-div {
  /* background-color: brown; */
  height: 100vh;
  padding-top: 5px;
  background-image: url("../images/home/home.jpg");
  background-size: cover;

  font-size: 15px;
  position: relative;
}

#home p,
h2 {
  /* color: white; */
  line-height: 30px;
}

.home-para-div {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 3em;
  color: white;
  text-align: center;
}

main > section#home > div > div:nth-child(2) {
  /* border: 2px solid red; */
  width: fit-content;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 30px;
  margin: auto;
}

#btn-down-arrow {
  background-color: transparent;
  border: 0;
}
