#home-img-div {
  /* background-color: brown; */
  height: 100vh;
  padding-top: 5px;
  background-image: url("../images/home/home.jpg");
  background-size: cover;
}

#home p,
h2 {
  /* color: white; */
  line-height: 30px;
}

.home-para-div {
  /* background-color: blueviolet; */
  width: 800px;
  height: 400px;
  text-align: center;
  margin-top: 50px;
  margin-left: 370px;
  font-size: 50px;
  color: white;
}

#btn-down-arrow {
  margin-top: 400px;
  margin-left: 740px;
  background-color: transparent;
  border: 0;
}
