body {
  margin: 0;
}

.section-header {
  padding-left: 60px;
}

.section-header h1 {
  padding-left: 10px;
  font-size: 40px;
}

main {
  height: auto;
  width: calc(100% - 18%);
  /* width: 82%; */
  /* background-color: aqua; */
  left: calc(18%);
  position: absolute;
}

.section-content {
  padding-left: 60px;
}

.footer {
  position: absolute;
  left: 1000px;
  top: 3500px;
}
