body {
  margin: 0;
  /* position: relative; */
}

.section-header {
  /* padding-left: 60px; */
  margin-left: 60px;
}

.section-header h1 {
  /* padding-left: 10px; */
  margin-top: 50px;
  font-size: 40px;
}

main {
  height: auto;
  width: calc(100% - 18%);
  /* width: 82%; */
  /* background-color: aqua; */
  position: relative;
  left: calc(18%);
}

.section-content {
  padding-left: 60px;
}

footer > div {
  /* border: 2px solid red; */
  width: fit-content;
  position: relative;
  bottom: 20px;
  left: 150px;
  right: 0;
  margin: auto;
  text-align: center;
}
