html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #54b689;
}

::-webkit-scrollbar-track {
  background-color: #111821;
}

::-webkit-scrollbar-corner {
  background-color: #111821;
}

body {
  margin: 0;
  font-family: "Acme", sans-serif;
}

.section-header {
  /* border: 2px solid red; */
  margin-left: 80px;
}

.section-header h1 {
  margin-top: 50px;
  font-size: 40px;
  padding-left: 20px;
  border-left: 8px solid #54b689;
}

main {
  height: auto;
  width: calc(100% - 338px);
  margin-left: 338px;
  /* position: relative; */
}

.section-content {
  /* border: 2px solid greenyellow; */
  padding-left: 80px;
}

input[type="radio"] {
  display: none;
}

@media all and (max-width: 500px) {
  .section-header {
    margin-left: 145px;
  }

  .section-header h1 {
    font-size: 2em;
  }

  main {
    margin-left: 0;
    width: 100%;
  }
}

@media all and (min-width: 500px) and (max-width: 768px) {
  main {
    margin-left: 0;
    width: 100%;
  }

  .section-header h1 {
    font-size: 2em;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  /* main {
    margin-left: 0;
    width: 100%;
  } */

  .section-header h1 {
    font-size: 2em;
  }
}
