#skills {
  background-color: #111821;
  height: 100vh;
  color: white;
  padding-top: 1px;
  box-shadow: 3px 6px 8px 1px white;
}

/* #skills > section {
  border: 2px solid rgb(255, 47, 186);
  margin-bottom: 5px;
}

#skills > section > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7c7c7c;
  position: relative;
}

#skills > section > div:nth-child(2) > div.container {
  border: 1px solid rgb(255, 0, 0);
  max-width: 880px;
  width: 100%;
  padding: 10px 0;
}

#skills > section > div:nth-child(2) > div.container > div.skill-content {
  border: 3px solid rgb(6, 190, 104);
  width: 200%;
  display: flex;
  justify-content: space-evenly;
}

#skills
  > section
  > div:nth-child(2)
  > div.container
  > div.skill-content
  > div.skill-set {
  border: 2px solid rgb(0, 89, 255);
  width: calc(100% / 2 - 10px);
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
px
#skills
  > section
  > div:nth-child(2)
  > div.container
  > div.skill-content
  > div.skill-set
  > div.skill-card {

  width: 200px;
  height: 200px;
  background-image: url("../images/skills/java-logo2.png");
  background-size: cover;
}

#skills
  > section
  > div:nth-child(2)
  > div.container
  > div.skill-content
  > div.skill-set
  > div.skill-card {
  border: 2px solid greenyellow;
} */

/* -------------------------------------------------------------------------------------------------------- */

#skills > section > div.container {
  /* border: 1px solid rgb(255, 0, 0); */
  /* max-width: calc(100% - 338px); */
  max-width: 1240px;
  width: 100%;
  /* padding: 40px 0; */
  padding-bottom: 40px;
  margin-left: 160px;
  overflow: hidden;
}

#skills > section > div.container > div.skill-content {
  /* border: 3px solid rgb(6, 190, 104); */
  width: 300%;
  display: flex;
  justify-content: space-evenly;
  transition: all 1s ease;
}

/*div.skill-content & div.certfication-content*/
/* #skills > section > div.container > div:nth-child(2) {
  border: 2px solid red;
  height: 200px;
  display: flex;
} */

/* -----------------------------------------------Skill Card Containers-------------------------------- */

#skills > section > div.container > div.skill-content > div.skill-set {
  /* border: 2px solid palevioletred; */
  /* border: 2px solid blue; */
  height: 150px;
  display: flex;
  justify-content: space-around;

  width: 1210px;
  /* flex-grow: 1; */
  margin: 0 50px 0 50px;
}

/* #skills
  > section
  > div.container
  > div.skill-content
  > div.skill-set:first-child {
  flex-grow: 1;
}

#skills
  > section
  > div.container
  > div.skill-content
  > div.skill-set:nth-child(2) {
  flex-grow: 1;
}

#skills
  > section
  > div.container
  > div.skill-content
  > div.skill-set:nth-child(3) {
  flex-grow: 1;
} */

/* -------------------------------------------Skill Cards---------------------------------------- */

#skills
  > section
  > div.container
  > div.skill-content
  > div.skill-set
  > div.skill-card {
  /* border: 2px solid darkorange; */
  width: 150px;
}

/* ------------------------------------------------------Skill Cards - Set1--------------------------------- */

/* Card 1 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set1
  > div.skill-card:first-child {
  background-image: url("../images/skills/java-logo2.png");
  background-size: cover;
}

/* Card 2 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set1
  > div.skill-card:nth-child(2) {
  background-image: url("../images/skills/mysql.png");
  background-size: cover;
}

/* Card 3 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set1
  > div.skill-card:nth-child(3) {
  background-image: url("../images/skills/hibernate-logo.png");
  background-size: cover;
  /* background-position: center; */
  /* right: 10px; */
}

/* Card 4 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set1
  > div.skill-card:nth-child(4) {
  background-image: url("../images/skills/intellij-logo.png");
  background-size: cover;
}

/* ------------------------------------------------------Skill Cards - Set2--------------------------------- */
/* Card 5 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set2
  > div.skill-card:first-child {
  /* background-image: url("../images/skills/html-logo.png"); */
  background-image: url("../images/skills/html-logo4.png");
  background-size: cover;
  /* background-position-y: -30px; */
}

/* Card 6 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set2
  > div.skill-card:nth-child(2) {
  background-image: url("../images/skills/css-logo7.png");
  background-size: cover;
  /* height: 218px; */
  /* background-position-y: -25px; */
}

/* Card 7 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set2
  > div.skill-card:nth-child(3) {
  background-image: url("../images/skills/javascript-logo.png");
  background-size: cover;
  background-position-y: -15px;
}

/* Card 8 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set2
  > div.skill-card:nth-child(4) {
  background-image: url("../images/skills/vscode-logo.png");
  background-size: cover;
}

/* ------------------------------------------------------Skill Cards - Set3--------------------------------- */
/* Card 9 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set3
  > div.skill-card:first-child {
  background-image: url("../images/skills/photoshop-logo2.png");
  background-size: cover;
}

/* Card 10 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set3
  > div.skill-card:nth-child(2) {
  background-image: url("../images/skills/premierePro-logo2.png");
  background-size: cover;
}

/* Card 11 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set3
  > div.skill-card:nth-child(3) {
  background-image: url("../images/skills/afterEffects-logo2.png");
  background-size: cover;
}

/* Card 12 */
#skills
  > section
  > div.container
  > div.skill-content
  > div#skill-set3
  > div.skill-card:nth-child(4) {
  background-image: url("../images/skills/linux-logo11.png");
  background-size: cover;
}

/* -----------------------------------------Skill Card Navigation Buttons----------------------------- */
input[type="radio"] {
  display: none;
}

#skills > section > div.container > nav {
  /* border: 2px solid rgb(16, 146, 179); */
  display: flex;
  justify-content: center;
  margin: 10px;
  position: relative;
  top: 40px;
}

/* 100+1+1+10+1+1 = 104 */
#skills > section > div.container > nav label {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: white;
  margin: 0 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
/* 100+1+1+10+1+10+1+1+10 = 135 */
#skills > section > div.container > nav label.active {
  background-color: #54b689;
}

#skills > section > div.container > nav > label:hover {
  cursor: pointer;
}

/* when radio btn 1 is checked --> change label1 to green */
/* 100+1+1+10+100+10+1+10 = 233 */
#skills > section > div.container > #btn1:checked ~ nav .nav1 {
  background-color: #54b689;
}

/* when radio btn 1 is checked --> change label2 to white */
#skills > section > div.container > #btn1:checked ~ nav .nav2 {
  background-color: white;
}

/* when radio btn 1 is checked --> change label3 to white */
#skills > section > div.container > #btn1:checked ~ nav .nav3 {
  background-color: white;
}

#skills > section > div.container > #btn2:checked ~ nav .nav1,
#skills > section > div.container > #btn2:checked ~ nav .active {
  background-color: white;
}

#btn2:checked ~ nav .nav2 {
  background-color: #54b689;
}

#skills > section > div.container > #btn2:checked ~ nav .nav3 {
  background-color: white;
}

#skills > section > div.container > #btn3:checked ~ nav .nav1 {
  background-color: white;
}

#skills > section > div.container > #btn3:checked ~ nav .nav2 {
  background-color: white;
}

#skills > section > div.container > #btn3:checked ~ nav .nav3 {
  background-color: #54b689;
}

/* --------------------------------------Scroll Cards----------------------------------------------------- */

#btn2:checked ~ div.skill-content {
  margin-left: -100%;
}

#btn3:checked ~ div.skill-content {
  margin-left: -200%;
}
